In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

# Soru 1:
Determine the types of the below-given variables:

* Age
* Salary
* Income
* Customer type
* Stock price

* Age --> int64
* Salary --> float64
* Income --> float64
* Customer type --> object
* Stock price --> float64

# Soru 2:
Using the movie data, we have studied in this lesson. Complete the following tasks:

* Select a variable from the movie dataset and discuss the variable type of this variable
* Categorize a variable of your choice and assign a name to it
* Count the number of rows for each category

In [6]:
# movie datasetindenki 'country' değişkeninin veri tipi string olduğu için 
# object tir.

#ülkelere göre ortalama bütçe hesaplaması yaparsak;
movie=pd.read_csv("movie.csv")
print(movie.groupby('country')['budget'].mean().sort_values().head(),"\n")

#Her bir kolona göre satır sayısını bulursak;
print(movie.count())

country
Philippines               7000.0
Kenya                    15000.0
Afghanistan              46000.0
United Arab Emirates    125000.0
Slovenia                500000.0
Name: budget, dtype: float64

color                        5024
director_name                4939
num_critic_for_reviews       4993
duration                     5028
director_facebook_likes      4939
actor_3_facebook_likes       5020
actor_2_name                 5030
actor_1_facebook_likes       5036
gross                        4159
genres                       5043
actor_1_name                 5036
movie_title                  5043
num_voted_users              5043
cast_total_facebook_likes    5043
actor_3_name                 5020
facenumber_in_poster         5031
plot_keywords                4889
movie_imdb_link              5043
num_user_for_reviews         5022
language                     5031
country                      5038
content_rating               4741
budget                       4550
title_year                   4935
actor_2_facebook_likes       5030
imdb_score                   5043
aspect_ratio                 4714
movie_facebook_likes         5043
Unnamed: 28                     1
dtype: int64

# Soru 3:
Is it possible to convert categorical variable into numerical one? If so, how can you make that?

Kategorik değişkenler numerik değişkenlere dönüştürülebilir. Bunun için mevcut veri setindeki işlem yapılacak olan kolon üzerinde döngü ya da koşullu ifadeler kullanılarak yeni bir kolon eklemesiyle numerik değişken tipli nitelik oluşturulabilir. Yani mevcuttaki kategorik değikenli kolonu ifade edecek numerik tipli yeni bir kolon yazılacak kodla sağlanılabilir.

# Soru 4:
While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

* Sınıfa geç gelen öğrencilerin sayısı
* Gün içinde şubede banka hesabı açtıran müşteri sayısı 

gibi konularda kesikli değişkenler kullanılmaktadır. Kesikli değişken ile sürekli değişken arasındaki temel fark, belli bir aralıkta sınırlı/sonlu sayıda değişken alabilen değerlerdir.

# Soru 5:
While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

Bir veri setindeki kolonlara attribute denilmektedir.Bu attributelerde continuous ya da kesikli değişkenler bulunabilmektedir. Öznitelikler aslında sürekli ve kesikli değişken tiplerini içine kapsamaktadır.